<div class="container-fluid pt-5 px-5 main h-100">
  <section class="players p-4">
    <div class="container">
      <div class="row">
        <div class="col-auto container-fluid" *ngFor="let player of (game | async).members; let i = index">
          <div>
            <app-player [myRound]="i === round" [endOfRound]="status === 'end of round'" [players]="gameService.game.value.members" [player]="player"></app-player>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="board">
    <div class="container-fluid">
      <div class="row w-100 justify-content-center h-100 align-items-center">
        <div class="col-auto dixit-card" *ngFor="let choice of shuffledChoices">
          <app-card class="big" 
          [ngClass]="{'active': (game | async).members[myIndex]?.vote?.id === choice.id, 'correct': choice.id === correctAnswer }" 
          [back]="status === 'choices'" 
          [card]="choice"
          (click)="onChoiceClick(choice)"
          ></app-card>
        </div>
      </div>
    </div>
  </section>
  <section class="cards pb-5">
    <div class="container-fluid">
      <div class="row w-100 justify-content-center">
        <div class="col-auto dixit-card" *ngFor="let card of myCards">
          <app-card [card]="card" (click)="onCardClick(card)"></app-card>
        </div>
      </div>
    </div>
    <aside>
      <div class="choose-title container-fluid" @appear *ngIf="status === 'title' && round === myIndex">
        <div class="row">
          <div class="col">
            <input type="text" placeholder="Choose title..." [(ngModel)]="title" class="input">
          </div>
        </div>
      </div>
      <div class="choose-title container-fluid" @appear *ngIf="status === 'end of round' && round === myIndex">
        <div class="row">
          <div class="col">
            <button class="button" (click)="nextRound()">Next round</button>
          </div>
        </div>
      </div>
    </aside>
  </section>
</div>
<app-message [(message)]="message"></app-message>