<div class="player p-3" [ngClass]="{'active': myRound}">
  <div class="row">
    <div class="col-auto d-flex justify-content-center align-items-center">
      <div class="icon" [ngStyle]="{'background-color': color}">
        <span>{{ player.name.substr(0, 1) }}</span>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <span class="name">{{ player.name }}</span>
      <span class="score">{{ player.score }}pts</span>
    </div>
  </div>
  <div class="row collapsable">
    <div class="content p-3">
      <span *ngIf="player.choice !== undefined && !endOfRound">Has chosen a card</span>
      <span *ngIf="player.vote !== undefined && !endOfRound">Has already voted</span>
      <span *ngIf="endOfRound">Voted for {{ vote }}</span>
    </div>
  </div>
</div>