<div class="container h-100 d-flex align-items-center flex-column justify-content-center">
  <h1>{{ (game | async).name }}</h1>
  <div class="url-holder px-4 py-3 d-flex flex-column mt-4">
    <span class="label">Join Url</span>
    <span>https://dixit-app.netlify.app/join?roomId={{ (game | async).id }}</span>
  </div>
  <div class="row justify-content-center w-100 mt-4">
    <div class="col-8">
      <app-players [players]="(game | async).members"></app-players>
      <div *ngIf="gameService.admin">
        <button class="button w-100" (click)="startGame()">Start game</button>
      </div>
      <div *ngIf="!gameService.admin">
        <span>Waiting for game to start...</span>
      </div>
    </div>
  </div>
</div>
